# Add these lines to the file
[mysqld]
log-bin=mysql-bin/delta
server-id=1
binlog_format=ROW
binlog-do-db=licitaciones

# mkdir /mnt/db1/mysql/mysql-bin
# chown mysql:mysql /mnt/db1/mysql/mysql-bin
# chmod 750 /mnt/db1/mysql/mysql-bin
